*{
    margin: 0;
    padding: 0;
    font-family: "Modak", system-ui;
}
  
.header{
    min-height: 55%;
    width: 100%;
    background-image: linear-gradient(rgba(29, 28, 28, 0.77),rgba(29, 28, 28, 0.699)),url(https://i.pinimg.com/736x/29/d7/f5/29d7f5affba960cf934440544f845f3c.jpg);
    background-position: center;
    background-size:  cover;
    position: relative;
}
nav{
    display:flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 47%;
    transition: transform 0.3s;
}
nav img:hover{
    transform: translateY(-5px);

}
.nav-links{
    flex: 5;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    padding: 2% 4%;
    position: relative;
}
.nav-links ul li a{
    color: rgb(196, 211, 211);
    text-decoration: none;
    font-size: 275%;
}
.text-box1{
    color: rgb(196, 211, 211);
    position: absolute;
    top: 25%;
    left: 33%;
    transform: translate(-25%, -50%);
    text-align: left;
    font-size: 275%;
}
.text-box2{
    color: rgb(196, 211, 211);
    position: absolute;
    top: 55%;
    left: 31%;
    transform: translate(-15%, -50%);
    text-align: left;
    font-size: 1500%;
}





.abouts{
    min-height: 20%;
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.895);
    background-position: center;
    background-size:  cover;
    position: relative;
}
.abouts{
    text-align: center;
    margin: auto;
    padding-top: 200px;

}
.about{
    color: rgb(196, 211, 211);
    font-size: 75px;
    font-weight: 500;
    line-height: 40px;
    padding: 50px;
}
.para1{
    color: rgb(182, 192, 192);
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    padding: 20px;
}
.box{
    width: 80%;
    background-color: rgba(98, 83, 65, 0.596);
    border-radius: 10px;
    margin-left: 10%;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    margin-top: -8%;
    transition: 0.5s;
}
.box:hover{
    box-shadow: 0 0 20px 0px rgba(123, 119, 119, 0.534);

}





.preview{
    min-height: 100%;
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.895);
    background-position: center;
    background-size: cover;
    position: relative;
}
.album1 img{
    width: 350px;

}
.a2 img{
    width: 350px;
}
.p{
    color: rgba(227, 227, 227, 0.884);
    font-size: 50px;
    font-weight: 500;
    line-height: 40px;
    padding: 20px;
    text-align: below;
}
.row a{
    color: rgba(227, 227, 227, 0.884);
}
.row{
    margin-top: 3%;
    margin-left: 17%;
    background-position: center;
    width: 70%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 50px;
}

.album1{
    text-align: center;


    flex-basis: 31%;
    background: rgba(98, 83, 65, 0.596);
    border-radius: 10px;
    margin-bottom: 10%;
    padding: 20px 12px;
    height: 400px;
    box-sizing: border-box;
    transition: 0.5s;


}
.album1:hover{
    box-shadow: 0 0 20px 0px rgba(123, 119, 119, 0.534);
    transform: translateY(-3px);

}
.a2{


    flex-basis: 31%;
    text-align: center;
    background: rgba(98, 83, 65, 0.596);
    border-radius: 10px;
    margin-bottom: 0%;
    padding: 20px 12px;
    height: 400px;
    box-sizing: border-box;
    transition: 0.5s;
    
} 
.a2:hover{
    box-shadow: 0 0 20px 0px rgba(123, 119, 119, 0.534);
    transform: translateY(-3px);

}

    

.track{
    min-height: 100%;
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.895);
    background-position: center;
    background-size: cover;
    position: relative;
}


.tracks{
    margin-top: -5%;
    background-position: center;
    max-width: 100%;
    margin-left: 13%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: -5px;
    text-align: center;
    color: beige;

}

.tracks img{
    width: 200px;

}

.albumst{
    color: rgb(196, 211, 211);
    position: absolute;
    top: 1%;
    left: 44%;
    transform: translate(-15%, -50%);
    text-align: left;
    font-size: 450%;
    text-align: center;
}

.toptrackst{
    color: rgb(196, 211, 211);
    position: absolute;
    top: -20%;
    left: 42%;
    transform: translate(-15%, -50%);
    text-align: left;
    font-size: 425%;
    text-align: center;
}
.t1{
    transition: 0.5s;
}
.t1:hover{
    transform: translateY(-6px);
}
.t2{
    transition: 0.5s;
}
.t2:hover{
    transform: translateY(-6px);
}
.t3{
    transition: 0.5s;
}
.t3:hover{
    transform: translateY(-6px);
}
.t4{
    transition: 0.5s;
}
.t4:hover{
    transform: translateY(-6px);
}
.t5{
    transition: 0.5s;
}
.t5:hover{
    transform: translateY(-6px);
}

.end{
    color: rgb(196, 211, 211);
    position: absolute;
    top: 28%;
    left: 62%;
    transform: translate(-15%, -50%);
    text-align: left;
    font-size: 200%;
    text-align: center;
}
.track a{
    color: rgba(227, 227, 227, 0.884);
}





